# Dictionary Comprehension

In [124]:
import json

In [125]:
with open('students.json', encoding='utf-8') as f:
    students = json.load(f)
    
students

{'0': {'id': '100001',
  'student': 'Ada Lovelace',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 91, 82, 71],
  'pets': [{'species': 'horse', 'age': 8}]},
 '1': {'id': '100002',
  'student': 'Thomas Bayes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [75, 73, 86, 100],
  'pets': []},
 '2': {'id': '100003',
  'student': 'Marie Curie',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 89, 69, 65],
  'pets': [{'species': 'cat', 'age': 0}]},
 '3': {'id': '100004',
  'student': 'Grace Hopper',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [73, 66, 83, 92],
  'pets': [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]},
 '4': {'id': '100005',
  'student': 'Alan Turing',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [78, 98, 85, 65],
  'pets': [{'species': 'horse', 'age': 6},
   {'species': 'horse', 'age': 7},
   {'species': 'dog', 'age': 5}]},
 '5': {'id': '100006',
  'student': 'Rosalind Franklin',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [76, 70, 96, 81],
  'pets': []},
 '6': {'id': '100007',
  'student': 'Elizabeth Blackwell',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [69, 94, 89, 86],
  'pets': [{'species': 'cat', 'age': 10}]},
 '7': {'id': '100008',
  'student': 'Rene Descartes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [87, 79, 90, 99],
  'pets': [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}]},
 '8': {'id': '100009',
  'student': 'Ahmed Zewail',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [74, 99, 93, 89],
  'pets': [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}]},
 '9': {'id': '100010',
  'student': 'Chien-Shiung Wu',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [82, 92, 91, 65],
  'pets': [{'species': 'cat', 'age': 8}]},
 '10': {'id': '100011',
  'student': 'William Sanford Nye',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [70, 92, 65, 99],
  'pets': [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}]},
 '11': {'id': '100012',
  'student': 'Carl Sagan',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [100, 86, 91, 87],
  'pets': [{'species': 'cat', 'age': 10}]},
 '12': {'id': '100013',
  'student': 'Jane Goodall',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [80, 70, 68, 98],
  'pets': [{'species': 'horse', 'age': 4}]},
 '13': {'id': '100014',
  'student': 'Richard Feynman',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [73, 99, 86, 98],
  'pets': [{'species': 'dog', 'age': 6}]}}

In [126]:
students = {int(k):v for k,v in students.items()}
students

{0: {'id': '100001',
  'student': 'Ada Lovelace',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 91, 82, 71],
  'pets': [{'species': 'horse', 'age': 8}]},
 1: {'id': '100002',
  'student': 'Thomas Bayes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [75, 73, 86, 100],
  'pets': []},
 2: {'id': '100003',
  'student': 'Marie Curie',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 89, 69, 65],
  'pets': [{'species': 'cat', 'age': 0}]},
 3: {'id': '100004',
  'student': 'Grace Hopper',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [73, 66, 83, 92],
  'pets': [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]},
 4: {'id': '100005',
  'student': 'Alan Turing',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [78, 98, 85, 65],
  'pets': [{'species': 'horse', 'age': 6},
   {'species': 'horse', 'age': 7},
   {'species': 'dog', 'age': 5}]},
 5: {'id': '100006',
  'student': 'Rosalind Franklin',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [76, 70, 96, 81],
  'pets': []},
 6: {'id': '100007',
  'student': 'Elizabeth Blackwell',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [69, 94, 89, 86],
  'pets': [{'species': 'cat', 'age': 10}]},
 7: {'id': '100008',
  'student': 'Rene Descartes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [87, 79, 90, 99],
  'pets': [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}]},
 8: {'id': '100009',
  'student': 'Ahmed Zewail',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [74, 99, 93, 89],
  'pets': [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}]},
 9: {'id': '100010',
  'student': 'Chien-Shiung Wu',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [82, 92, 91, 65],
  'pets': [{'species': 'cat', 'age': 8}]},
 10: {'id': '100011',
  'student': 'William Sanford Nye',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [70, 92, 65, 99],
  'pets': [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}]},
 11: {'id': '100012',
  'student': 'Carl Sagan',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [100, 86, 91, 87],
  'pets': [{'species': 'cat', 'age': 10}]},
 12: {'id': '100013',
  'student': 'Jane Goodall',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [80, 70, 68, 98],
  'pets': [{'species': 'horse', 'age': 4}]},
 13: {'id': '100014',
  'student': 'Richard Feynman',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [73, 99, 86, 98],
  'pets': [{'species': 'dog', 'age': 6}]}}

The following questions reference the students data structure below. Write the python code to answer the following questions:

How many students are there?

In [127]:
len({k:v for k,v in students.items()})

14

How many students prefer light coffee? For each type of coffee roast?

In [128]:
coffee_pref_list = list({k:v['coffee_preference'] for k,v in students.items()}.values())
coffee_pref_list

['light',
 'medium',
 'light',
 'dark',
 'dark',
 'dark',
 'dark',
 'medium',
 'medium',
 'medium',
 'dark',
 'medium',
 'light',
 'medium']

In [129]:
{item:coffee_pref_list.count(item) for item in coffee_pref_list}

{'light': 3, 'medium': 6, 'dark': 5}

In [130]:
# another way
coffee_pref_list = list({k:v.get('coffee_preference') for k,v in students.items()}.values())

In [131]:
{item:coffee_pref_list.count(item) for item in coffee_pref_list}

{'light': 3, 'medium': 6, 'dark': 5}

How many types of each pet are there?

In [132]:
species_dict = {k:[v['pets'][x]['species'] for x in range(len(v['pets']))]  for k,v in students.items()}
species_dict

{0: ['horse'],
 1: [],
 2: ['cat'],
 3: ['dog', 'cat'],
 4: ['horse', 'horse', 'dog'],
 5: [],
 6: ['cat'],
 7: ['cat', 'cat'],
 8: ['cat', 'cat'],
 9: ['cat'],
 10: ['cat', 'cat'],
 11: ['cat'],
 12: ['horse'],
 13: ['dog']}

In [133]:
species_list = ",".join([", ".join(v) for k,v in species_dict.items()]).replace(" ", "").replace(',,', ',').split(',')

In [134]:
{item:species_list.count(item) for item in species_list}

{'horse': 4, 'cat': 11, 'dog': 3}

How many grades does each student have? Do they all have the same number of grades?

In [135]:
student_grades_dict = {k:len(v.get('grades', 'na')) for k,v in students.items()}

In [136]:
amount_of_grades_list = list(student_grades_dict.values())

In [137]:
{amount:amount_of_grades_list.count(amount) for amount in amount_of_grades_list}

{4: 14}

What is each student's grade average?

In [138]:
{ v['student']: sum(v['grades'])/len(v['grades']) for k,v in students.items()}

{'Ada Lovelace': 78.5,
 'Thomas Bayes': 83.5,
 'Marie Curie': 73.25,
 'Grace Hopper': 78.5,
 'Alan Turing': 81.5,
 'Rosalind Franklin': 80.75,
 'Elizabeth Blackwell': 84.5,
 'Rene Descartes': 88.75,
 'Ahmed Zewail': 88.75,
 'Chien-Shiung Wu': 82.5,
 'William Sanford Nye': 81.5,
 'Carl Sagan': 91.0,
 'Jane Goodall': 79.0,
 'Richard Feynman': 89.0}

How many pets does each student have?

In [139]:
type((dict(students.items()))[0])

dict

In [140]:
{v['student']:len(v['pets']) for k,v in students.items()}

{'Ada Lovelace': 1,
 'Thomas Bayes': 0,
 'Marie Curie': 1,
 'Grace Hopper': 2,
 'Alan Turing': 3,
 'Rosalind Franklin': 0,
 'Elizabeth Blackwell': 1,
 'Rene Descartes': 2,
 'Ahmed Zewail': 2,
 'Chien-Shiung Wu': 1,
 'William Sanford Nye': 2,
 'Carl Sagan': 1,
 'Jane Goodall': 1,
 'Richard Feynman': 1}

How many students are in web development? data science?

In [141]:
students = list(students.values())

In [142]:
count_students = len(students)

In [143]:
student_course_list = [students[x]['course'] for x in range(count_students)]
student_course_list

['web development',
 'data science',
 'web development',
 'data science',
 'web development',
 'data science',
 'web development',
 'data science',
 'data science',
 'web development',
 'data science',
 'data science',
 'web development',
 'web development']

In [144]:
{course:student_course_list.count(course) for course in student_course_list}

{'web development': 7, 'data science': 7}

What is the average number of pets for students in web development?

In [145]:
web_dev_pet_count_dict = {v['student']:len(v['pets']) for v in students if v['course'] == 'web development'}
web_dev_pet_count_dict

{'Ada Lovelace': 1,
 'Marie Curie': 1,
 'Alan Turing': 3,
 'Elizabeth Blackwell': 1,
 'Chien-Shiung Wu': 1,
 'Jane Goodall': 1,
 'Richard Feynman': 1}

In [146]:
sum(web_dev_pet_count_dict.values())/len(web_dev_pet_count_dict)

1.2857142857142858

What is the average pet age for students in data science?

In [147]:
data_science_pets_age_dict = {v['student']:[v['pets'][x]['age'] for x in range(len(v['pets']))] for v in students if v['course'] == 'data science'}
data_science_pets_age_dict

{'Thomas Bayes': [],
 'Grace Hopper': [4, 4],
 'Rosalind Franklin': [],
 'Rene Descartes': [10, 8],
 'Ahmed Zewail': [0, 0],
 'William Sanford Nye': [8, 5],
 'Carl Sagan': [10]}

In [148]:
ds_pet_age_list = list(data_science_pets_age_dict.values())
ds_pet_age_list

[[], [4, 4], [], [10, 8], [0, 0], [8, 5], [10]]

In [149]:
a =[]
[[a.append(int(pet)) for pet in ds_pet_age_list[student]] for student in range(len(ds_pet_age_list))]
a

[4, 4, 10, 8, 0, 0, 8, 5, 10]

In [150]:
sum(a)/len(a)

5.444444444444445

What is most frequent coffee preference for data science students?

In [151]:
ds_coffee_preference_dict ={v['student']: v['coffee_preference'] for v in students if v['course'] =='data science'}
ds_coffee_preference_dict

{'Thomas Bayes': 'medium',
 'Grace Hopper': 'dark',
 'Rosalind Franklin': 'dark',
 'Rene Descartes': 'medium',
 'Ahmed Zewail': 'medium',
 'William Sanford Nye': 'dark',
 'Carl Sagan': 'medium'}

In [152]:
ds_coffee_preference_list = list(ds_coffee_preference_dict.values())
ds_coffee_preference_list

['medium', 'dark', 'dark', 'medium', 'medium', 'dark', 'medium']

In [153]:
ds_coffee_pref_freq_dict = {coffee_preference: ds_coffee_preference_list.count(coffee_preference) for coffee_preference in ds_coffee_preference_list}
ds_coffee_pref_freq_dict

{'medium': 4, 'dark': 3}

In [154]:
max(ds_coffee_pref_freq_dict)

'medium'

#### Be careful this is not neccessarily the correct answer. What if we changed the value of 'medium' to be less than 'dark'?

In [155]:
ds_coffee_pref_freq_dict['medium'] = 2
ds_coffee_pref_freq_dict

{'medium': 2, 'dark': 3}

In [156]:
max(ds_coffee_pref_freq_dict)

'medium'

#### It is taking the longest string values of the keys. Go back and change the value of medium to 4.

In [157]:
ds_coffee_pref_freq_dict['medium'] = 4
ds_coffee_pref_freq_dict

{'medium': 4, 'dark': 3}

In [158]:
ds_coffee_pref_freq_list = list(ds_coffee_pref_freq_dict.values())
ds_coffee_pref_freq_list

[4, 3]

In [159]:
{x for x in ds_coffee_pref_freq_dict if ds_coffee_pref_freq_dict[x] == max(ds_coffee_pref_freq_list)}

{'medium'}

What is the least frequent coffee preference for web development students?

In [160]:
wd_coffee_preference_dict ={v['student']: v['coffee_preference'] for v in students if v['course'] =='web development'}
wd_coffee_preference_dict

{'Ada Lovelace': 'light',
 'Marie Curie': 'light',
 'Alan Turing': 'dark',
 'Elizabeth Blackwell': 'dark',
 'Chien-Shiung Wu': 'medium',
 'Jane Goodall': 'light',
 'Richard Feynman': 'medium'}

In [161]:
wd_coffee_preference_list = list(wd_coffee_preference_dict.values())
wd_coffee_preference_list

['light', 'light', 'dark', 'dark', 'medium', 'light', 'medium']

In [162]:
wd_coffee_pref_freq_dict = {coffee_pref:wd_coffee_preference_list.count(coffee_pref) for coffee_pref in wd_coffee_preference_list}
wd_coffee_pref_freq_dict

{'light': 3, 'dark': 2, 'medium': 2}

In [163]:
wd_coffee_pref_freq_list = list(wd_coffee_pref_freq_dict.values())
wd_coffee_pref_freq_list

[3, 2, 2]

In [164]:
{x for x in wd_coffee_pref_freq_dict if wd_coffee_pref_freq_dict[x]==min(wd_coffee_pref_freq_list)}

{'dark', 'medium'}

What is the average grade for students with at least 2 pets?

In [165]:
student_avg_dict = {v['student']:sum(v['grades'])/len(v['grades']) for v in students if len(v['pets']) >=2}
student_avg_dict

{'Grace Hopper': 78.5,
 'Alan Turing': 81.5,
 'Rene Descartes': 88.75,
 'Ahmed Zewail': 88.75,
 'William Sanford Nye': 81.5}

In [166]:
averages_list = list(student_avg_dict.values())
averages_list

[78.5, 81.5, 88.75, 88.75, 81.5]

In [167]:
sum(averages_list)/len(averages_list)

83.8

How many students have 3 pets?

In [168]:
len({v['student']:v['pets'] for v in students if len(v['pets']) == 3})

1

What is the average grade for students with 0 pets?

In [169]:
student_grades_dict = {v['student']:sum(v['grades'])/len(v['grades']) for v in students if len(v['pets'])==0}
student_grades_dict

{'Thomas Bayes': 83.5, 'Rosalind Franklin': 80.75}

In [170]:
sum(student_grades_dict.values())/len(student_grades_dict.values())

82.125

What is the average grade for web development students? data science students?

In [171]:
wd_grades_dict = {v['student']:sum(v['grades'])/len(v['grades']) for v in students if v['course']=='web development'}
wd_grades_dict

{'Ada Lovelace': 78.5,
 'Marie Curie': 73.25,
 'Alan Turing': 81.5,
 'Elizabeth Blackwell': 84.5,
 'Chien-Shiung Wu': 82.5,
 'Jane Goodall': 79.0,
 'Richard Feynman': 89.0}

In [172]:
sum(wd_grades_dict.values())/len(wd_grades_dict.values())

81.17857142857143

What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?

In [173]:
dark_grades_dict = {v['student']:v['grades'] for v in students if v['coffee_preference']=='dark'}
dark_grades_dict

{'Grace Hopper': [73, 66, 83, 92],
 'Alan Turing': [78, 98, 85, 65],
 'Rosalind Franklin': [76, 70, 96, 81],
 'Elizabeth Blackwell': [69, 94, 89, 86],
 'William Sanford Nye': [70, 92, 65, 99]}

In [174]:
dark_grades_list = list(dark_grades_dict.values())
dark_grades_list

[[73, 66, 83, 92],
 [78, 98, 85, 65],
 [76, 70, 96, 81],
 [69, 94, 89, 86],
 [70, 92, 65, 99]]

In [175]:
f = []
[[f.append(x) for x in dark_grades_list[g]] for g in range(len(dark_grades_list))]
min(f), max(f)

(65, 99)

What is the average number of pets for medium coffee drinkers?

In [176]:
medium_pets_count = {v['student']:len(v['pets']) for v in students if v['coffee_preference']=='medium'}
medium_pets_count

{'Thomas Bayes': 0,
 'Rene Descartes': 2,
 'Ahmed Zewail': 2,
 'Chien-Shiung Wu': 1,
 'Carl Sagan': 1,
 'Richard Feynman': 1}

In [177]:
sum(medium_pets_count.values())/len(medium_pets_count.values())

1.1666666666666667

What is the most common type of pet for web development students?

In [178]:
web_dev_pets_dict = {v['student']:[v['pets'][x]['species'] for x in range(len(v['pets']))] for v in students if v['course']=='web development'}
web_dev_pets_dict

{'Ada Lovelace': ['horse'],
 'Marie Curie': ['cat'],
 'Alan Turing': ['horse', 'horse', 'dog'],
 'Elizabeth Blackwell': ['cat'],
 'Chien-Shiung Wu': ['cat'],
 'Jane Goodall': ['horse'],
 'Richard Feynman': ['dog']}

In [179]:
web_dev_pets_list = list(web_dev_pets.values())
web_dev_pets_list

[['horse'],
 ['cat'],
 ['horse', 'horse', 'dog'],
 ['cat'],
 ['cat'],
 ['horse'],
 ['dog']]

In [180]:
f = []
[[f.append(x) for x in web_dev_pets_list[p]] for p in range(len(web_dev_pets_list))]
f

['horse', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'horse', 'dog']

In [181]:
web_dev_pet_type_dict = {pet:f.count(pet) for pet in f}
web_dev_pet_type_dict

{'horse': 4, 'cat': 3, 'dog': 2}

In [182]:
{x:v for x,v in web_dev_pet_type_dict.items() if v==max(web_dev_pet_type_dict.values())}

{'horse': 4}

What is the average name length?

In [183]:
name_length_dict = {v['student']:len(v['student']) for v in students}
name_length_dict

{'Ada Lovelace': 12,
 'Thomas Bayes': 12,
 'Marie Curie': 11,
 'Grace Hopper': 12,
 'Alan Turing': 11,
 'Rosalind Franklin': 17,
 'Elizabeth Blackwell': 19,
 'Rene Descartes': 14,
 'Ahmed Zewail': 12,
 'Chien-Shiung Wu': 15,
 'William Sanford Nye': 19,
 'Carl Sagan': 10,
 'Jane Goodall': 12,
 'Richard Feynman': 15}

In [184]:
sum(name_length_dict.values())/len(name_length_dict.values())

13.642857142857142

What is the highest pet age for light coffee drinkers?

In [186]:
light_pet_age_dict = {v['student']:[v['pets'][x]['age'] for x in range(len(v['pets']))] for v in students if v['coffee_preference']=='light'}

In [187]:
# light_pet_age_dict['Ada Lovelace']
# light_pet_age_dict

In [188]:
light_max_pet_age = max(light_pet_age_dict.values())[0]

In [189]:
{v['student']:v['pets'] for v in students if v['coffee_preference'] =='light'}

{'Ada Lovelace': [{'species': 'horse', 'age': 8}],
 'Marie Curie': [{'species': 'cat', 'age': 0}],
 'Jane Goodall': [{'species': 'horse', 'age': 4}]}

In [207]:
student_pet_ages_dict = {i:{'student':x['student'], 'pets_ages':[x['pets'][v]['age'] for v in range(len(x['pets']))]} for i,x in enumerate(students)}
student_pet_ages_dict

{0: {'student': 'Ada Lovelace', 'pets_ages': [8]},
 1: {'student': 'Thomas Bayes', 'pets_ages': []},
 2: {'student': 'Marie Curie', 'pets_ages': [0]},
 3: {'student': 'Grace Hopper', 'pets_ages': [4, 4]},
 4: {'student': 'Alan Turing', 'pets_ages': [6, 7, 5]},
 5: {'student': 'Rosalind Franklin', 'pets_ages': []},
 6: {'student': 'Elizabeth Blackwell', 'pets_ages': [10]},
 7: {'student': 'Rene Descartes', 'pets_ages': [10, 8]},
 8: {'student': 'Ahmed Zewail', 'pets_ages': [0, 0]},
 9: {'student': 'Chien-Shiung Wu', 'pets_ages': [8]},
 10: {'student': 'William Sanford Nye', 'pets_ages': [8, 5]},
 11: {'student': 'Carl Sagan', 'pets_ages': [10]},
 12: {'student': 'Jane Goodall', 'pets_ages': [4]},
 13: {'student': 'Richard Feynman', 'pets_ages': [6]}}

In [214]:
max_pet_age = max(max([student_pet_ages_dict[x]['pets_ages'] for x in range(len(student_pet_ages_dict))]))
max_pet_age

10

In [274]:
students_with_pets_list = [{x['student']: x.get('pets')} for x in students if len(x.get('pets'))>0]
students_with_pets_list

[{'Ada Lovelace': [{'species': 'horse', 'age': 8}]},
 {'Marie Curie': [{'species': 'cat', 'age': 0}]},
 {'Grace Hopper': [{'species': 'dog', 'age': 4},
   {'species': 'cat', 'age': 4}]},
 {'Alan Turing': [{'species': 'horse', 'age': 6},
   {'species': 'horse', 'age': 7},
   {'species': 'dog', 'age': 5}]},
 {'Elizabeth Blackwell': [{'species': 'cat', 'age': 10}]},
 {'Rene Descartes': [{'species': 'cat', 'age': 10},
   {'species': 'cat', 'age': 8}]},
 {'Ahmed Zewail': [{'species': 'cat', 'age': 0},
   {'species': 'cat', 'age': 0}]},
 {'Chien-Shiung Wu': [{'species': 'cat', 'age': 8}]},
 {'William Sanford Nye': [{'species': 'cat', 'age': 8},
   {'species': 'cat', 'age': 5}]},
 {'Carl Sagan': [{'species': 'cat', 'age': 10}]},
 {'Jane Goodall': [{'species': 'horse', 'age': 4}]},
 {'Richard Feynman': [{'species': 'dog', 'age': 6}]}]

In [275]:
students_with_pets_list = [list({'student':k for k,v in x.items()}.values())[0] for x in students_with_pets_list]
students_with_pets_list

['Ada Lovelace',
 'Marie Curie',
 'Grace Hopper',
 'Alan Turing',
 'Elizabeth Blackwell',
 'Rene Descartes',
 'Ahmed Zewail',
 'Chien-Shiung Wu',
 'William Sanford Nye',
 'Carl Sagan',
 'Jane Goodall',
 'Richard Feynman']

In [238]:
students[4]['student']

'Alan Turing'

In [305]:
students_with_pets_dict = {students[i]['student']: {i:x for i,x in enumerate(students[i]['pets'])} for i in range(len(students)) if students[i]['student'] in students_with_pets_list}

In [317]:
{k:{s:t for s,t in v.items() if t['age']==max_pet_age} for k,v in students_with_pets_dict.items() if max([v[x]['age'] for x in v])==max_pet_age}

{'Elizabeth Blackwell': {0: {'species': 'cat', 'age': 10}},
 'Rene Descartes': {0: {'species': 'cat', 'age': 10}},
 'Carl Sagan': {0: {'species': 'cat', 'age': 10}}}

In [340]:
[x['pets']for x in students]

[[{'species': 'horse', 'age': 8}],
 [],
 [{'species': 'cat', 'age': 0}],
 [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}],
 [{'species': 'horse', 'age': 6},
  {'species': 'horse', 'age': 7},
  {'species': 'dog', 'age': 5}],
 [],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}],
 [{'species': 'cat', 'age': 8}],
 [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}],
 [{'species': 'cat', 'age': 10}],
 [{'species': 'horse', 'age': 4}],
 [{'species': 'dog', 'age': 6}]]

In [354]:
[{x['student']:{y:x['pets'][y] for y in range(len(x['pets']))}} for x in students if len(x['pets'])>0]

[{'Ada Lovelace': {0: {'species': 'horse', 'age': 8}}},
 {'Marie Curie': {0: {'species': 'cat', 'age': 0}}},
 {'Grace Hopper': {0: {'species': 'dog', 'age': 4},
   1: {'species': 'cat', 'age': 4}}},
 {'Alan Turing': {0: {'species': 'horse', 'age': 6},
   1: {'species': 'horse', 'age': 7},
   2: {'species': 'dog', 'age': 5}}},
 {'Elizabeth Blackwell': {0: {'species': 'cat', 'age': 10}}},
 {'Rene Descartes': {0: {'species': 'cat', 'age': 10},
   1: {'species': 'cat', 'age': 8}}},
 {'Ahmed Zewail': {0: {'species': 'cat', 'age': 0},
   1: {'species': 'cat', 'age': 0}}},
 {'Chien-Shiung Wu': {0: {'species': 'cat', 'age': 8}}},
 {'William Sanford Nye': {0: {'species': 'cat', 'age': 8},
   1: {'species': 'cat', 'age': 5}}},
 {'Carl Sagan': {0: {'species': 'cat', 'age': 10}}},
 {'Jane Goodall': {0: {'species': 'horse', 'age': 4}}},
 {'Richard Feynman': {0: {'species': 'dog', 'age': 6}}}]