# pandas_exercises

Create a notebook or python script named `pandas_exercises` to do your work for this exercise.

For the following exercises, you'll need to load several datasets using the `pydataset` library. (If you get an error when trying to run the import below use `pip` to install the `pydataset` package.)

In [8]:
from pydataset import data

When the instruction say to load a dataset, you can pass the name of the dataset as string to the `data` function to load the dataset. You can also view the documentation for the data set by passing the `show_doc` keyword agrument.

In [9]:
mpg = data('mpg') #load the dataset and store it in a variable 
data('mpg',show_doc=True) #view the documentation for the dataset.

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

1. Load the `mpg` dataset. Read the documentation for it, and use the data to answer these questions.
    * On average, which manufacturer has the best miles per gallon?

In [10]:
import math
mpg = data('mpg')

In [15]:
mpg.groupby('manufacturer').agg(['count', 'mean'])

             displ            year                cyl             cty  \
             count      mean count         mean count      mean count
manufacturer
audi            18  2.544444    18  2003.500000    18  5.222222    18
chevrolet       19  5.063158    19  2004.684211    19  7.263158    19
dodge           37  4.378378    37  2004.108108    37  7.081081    37
ford            25  4.536000    25  2002.600000    25  7.200000    25
honda            9  1.711111     9  2003.000000     9  4.000000     9
hyundai         14  2.428571    14  2004.142857    14  4.857143    14
jeep             8  4.575000     8  2005.750000     8  7.250000     8
land rover       4  4.300000     4  2003.500000     4  8.000000     4
lincoln          3  5.400000     3  2002.000000     3  8.000000     3
mercury          4  4.400000     4  2003.500000     4  7.000000     4
nissan          13  3.269231    13  2003.846154    13  5.538462    13
pontiac          5  3.960000     5  2002.600000     5  6.400000     5
subaru          14  2.457143    14  2004.142857    14  4.000000    14
toyota          34  2.952941    34  2002.705882    34  5.117647    34
volkswagen      27  2.255556    27  2002.666667    27  4.592593    27

                          hwy
                   mean count       mean
manufacturer
audi          17.611111    18  26.444444
chevrolet     15.000000    19  21.894737
dodge         13.135135    37  17.945946
ford          14.000000    25  19.360000
honda         24.444444     9  32.555556
hyundai       18.642857    14  26.857143
jeep          13.500000     8  17.625000
land rover    11.500000     4  16.500000
lincoln       11.333333     3  17.000000
mercury       13.250000     4  18.000000
nissan        18.076923    13  24.615385
pontiac       17.000000     5  26.400000
subaru        19.285714    14  25.571429
toyota        18.529412    34  24.911765
volkswagen    20.925926    27  29.222222

* How many different manufacturers are there?

In [24]:
mpg[['manufacturer']].groupby('manufacturer').count().shape

(15, 0)

* How many different models are there?